@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media only screen and (max-width: 1000px) {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-size: 40px;
      margin-left: 30px;
      font-weight: bold;

      @media only screen and (max-width: 1000px) {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 30px;

      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          transition: transform 0.3s;
        }

        &:hover img {
          transform: scale(1.1);
        }

        &::after {
          content: attr(data-label);
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          background-color: rgba(0, 0, 0, 0.8);
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 12px;
          white-space: nowrap;
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
          transform: translateY(10px);
        }

        &:hover::after {
          opacity: 1;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}
